<section class="menu-target1">
    <h2 class="deco-under color-red">
        <i class="fas fa-concierge-bell"></i>
        Services
    </h2>
    <a class="btn-green btn-lg" 
        href="{{ url('services!create') }}">
        Nouveau Service
    </a>
    <table class="table">
        <thead>
        <tr>
            <th>Service</th>
            <th>Infos</th>
        </tr>
        </thead>
        <tbody>

        {% for service in allServices %}
            <tr>
                <td>
                    <i class="fas fa-{{ service.icon }} fa-lg"></i>
                    <br>
                    {{ service.name }}
                    <br>
                    <a class="btn-blue" 
                        href="{{ url('services!update', {'id': service.id}) }}">
                        <i class="fas fa-pen-square fa-fw fa-lg"></i>
                    </a>
                    <a class="btn-red" 
                        href="{{ url('services!delete', {'id': service.id}) }}">
                        <i class="fas fa-times-circle fa-fw fa-lg"></i>
                    </a>
                </td>
                <td>
                    {{ service.description }}
                </td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
</section>
