{% extends 'layout/layout.twig' %}

{% block title %}Modifier un Développeur{% endblock %}

{% block description %}{% endblock %}

{% block main %}
    <main>
        <form class="form" 
            method="post" 
            action={{ url('developers!update', {'id': developer.id}) }} 
            enctype="multipart/form-data">
            <input name="MAX_FILE_SIZE" 
                type="hidden" 
                value="1000000">
            <fieldset>
                <legend>
                    <i class="fas fa-user-developer fa-4x color-blue"></i>
                </legend>
                <ul>
                    <li>
                        <label for="name">
                            Nom
                        </label>
                        <input id="name" 
                            name="name" 
                            type="text" 
                            maxlength="30" 
                            value="{{ developer.name }}"
                            required>
                    </li>
                    <li>
                        <label for="file">
                            Image (max 1Mo)
                        </label>
                        <input name="file" 
                            type="file" 
                            accept=".jpg, .jpeg, .png, .gif">
                    </li>
                    <li>
                        <label for="email">
                            Courriel
                        </label>
                        <input id="email" 
                            name="email" 
                            type="email" 
                            maxlength="30" 
                            minlength="15" 
                            value="{{ developer.email }}"
                            required>
                    </li>
                    <li>
                        <label for="linkedin">
                            LinkedIn
                        </label>
                        <input id="linkedin" 
                            name="linkedin" 
                            type="text" 
                            maxlength="30" 
                            value="{{ developer.linkedin }}"
                            required>
                    </li>
                    <li>
                        <label for="github">
                            GitHub
                        </label>
                        <input id="github" 
                            name="github" 
                            type="text" 
                            maxlength="30" 
                            value="{{ developer.github }}"
                            required>
                    </li>
                    <li>
                        <label for="website">
                            Site Web
                        </label>
                        <input id="website" 
                            name="website" 
                            type="url" 
                            maxlength="40" 
                            pattern="https://.*" 
                            value="https://{{ developer.website }}"
                            required>
                    </li>
                    <li>
                        <label for="position">
                            Poste
                        </label>
                        <input id="position" 
                            name="position" 
                            type="text" 
                            maxlength="30" 
                            value="{{ developer.position }}"
                            required>
                    </li>
                    <li>
                        <label for="city">
                            Ville
                        </label>
                        <input id="city" 
                            name="city" 
                            type="text" 
                            maxlength="30" 
                            value="{{ developer.city }}"
                            required>
                    </li>
                    <li>
                        <label for="presentation">
                            Présentation
                        </label>
                        <textarea id="presentation" 
                            name="presentation" 
                            maxlength="255" 
                            rows="10" 
                            required>{{ developer.presentation }}</textarea>
                    </li>
                </ul>
                <ul>
                    <li>
                        <input type="reset" 
                            value="Réinitialiser">
                        <input type="submit" 
                            value="Modifier">
                    </li>
                </ul>
            </fieldset>
        </form>
        <a class="btn-black btn-lg" 
            href="{{ url('admin') }}">
            Quitter
        </a>
    </main>
{% endblock %}
