{% extends 'layout/layout.twig' %}

{% block subtitle %}Équipe{% endblock %}

{% block summary %}Découvrez les membres de l'équipe de DevsAgency!{% endblock %}

{% block main %}
<main>
    <header class="head">
        Nous sommes une équipe professionnelle pour tous vos projets !
    </header>

    {% for member in allMembers %}
        <section class="card-violet anima-twistT-this">
            <h2>{{ member.name }}</h2>

            <figure>
                <img class="bord-rounded" 
                    src="img/members/{{ member.image }}" 
                    alt="{{ member.name }} picture">
                <figcaption>
                    <strong>{{ member.position }}</strong>
                    <br>de<br>
                    <strong>{{ member.city }}</strong>
                </figcaption>
            </figure>

            <a class="btn-blue" 
                href="https://www.linkedin.com/in/{{ member.linkedin }}" 
                title="Voir le Profil LinkedIn de {{ member.name }} !">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>
            <a class="btn-blue" 
                href="https://{{ member.website }}" 
                title="Voir le Site Web de {{ member.name }} !">
                <i class="fas fa-globe-europe fa-lg"></i>
            </a>
            <a class="btn-blue" 
                href="mailto:{{ member.email }}" 
                title="Contacter {{ member.name}} par Courriel !">
                <i class="fas fa-envelope fa-lg"></i>
            </a>

            <p>{{ member.presentation }}</p>
        </section>
    {% endfor %}
</main>
{% endblock %}
