{% extends 'layout/layout.twig' %}

{% block title %}Équipe{% endblock %}

{% block description %}Découvrez les membres de l'équipe de DevsAgency!{% endblock %}

{% block main %}
<main>
    <header class="head">
        Nous sommes une équipe professionnelle pour tous vos projets!
    </header>

    {% for member in allMembers %}
        <section class="card-primary anima-slideT-tn-this">
            <h2>{{ member.name }}</h2>

            <figure>
                <img class="bord-rounded" 
                    src="img/members/{{ member.image }}" 
                    alt="{{ member.name }} picture">
                <figcaption>
                    <strong>{{ member.position }}</strong>
                    <br>de<br>
                    <strong>{{ member.city }}</strong>
                </figcaption>
            </figure>

            <a class="btn" 
                href="mailto:{{ member.email }}" 
                title="Contacter {{ member.name}} par Courriel !">
                <i class="fas fa-envelope fa-lg"></i>
            </a>
            <a class="btn" 
                href="https://www.linkedin.com/in/{{ member.linkedin }}" 
                title="Voir le Profil LinkedIn de {{ member.name }} !">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>
            <a class="btn" 
                href="https://github.com/{{ member.github }}" 
                title="Voir le Profil GitHub de {{ member.name }} !">
                <i class="fab fa-github fa-lg"></i>
            </a>
            <a class="btn" 
                href="https://{{ member.website }}" 
                title="Voir le Site Web de {{ member.name }} !">
                <i class="fas fa-globe-europe fa-lg"></i>
            </a>

            <p>{{ member.presentation }}</p>
        </section>
    {% endfor %}
</main>
{% endblock %}
