{% extends 'layout/layout.twig' %}

{% block title %}Projects{% endblock %}

{% block description %}Frameworks & Websites Projects - Animadio & Free Code Camp Pens - Languages HTML5, Twig, Pugjs, CSS3, SCSS, Stylus, JavaScript, jQuery, CoffeeScript, Nodejs, Expressjs, PHP, MySQL{% endblock %}

{% block main %}
    <input id="menu-radio1" class="menu-radio1" type="radio" name="menu">
    <input id="menu-radio2" class="menu-radio2" type="radio" name="menu" checked>

    <nav class="menu">
        <label class="button-red inblock" for="menu-radio1" title="Programming Tools">
            <i class="fas fa-tools fa-lg"></i>
            Tools
        </label>
        <label class="button-blue inblock" for="menu-radio2" title="Responsive Web Design">
            <i class="fas fa-globe fa-lg"></i>
            WebSites
        </label>
    </nav>

    <main id="project" class="container-90tn-80md-70wd align-center menu-relay">

        <header class="container-90sm-80md-70lg-60wd bg-white bord-double bord-curve bord-purple pad-md mar-bot-lg block">
                You would find here Programming Tools & Responsive Websites, don't hesitate to watch them.
        </header>

        <section class="menu-target1">
            <h2 class="color-red">
                <i class="fas fa-tools"></i> Tools
            </h2>
            <figure class="gallery">

                {% for tools in tools %}
                    <figure class="button-red anima-halfX">
                        <a href="https://{{ tools.link }}" title="Watch {{ tools.name }} on GitHub" rel="noreferrer noopener" target="_blank">
                            <img src="img/projects/{{ tools.image }}" alt="Screenshot of {{ tools.name }}">
                        </a>
                        <figcaption>
                            <a href="https://{{ tools.link }}" title="Watch {{ tools.name }} on GitHub" rel="noreferrer noopener" target="_blank">
                                <h3>{{ tools.name }}</h3>
                                <p>{{ tools.description }}</p>
                                <p>{{ tools.year }}</p>
                            </a>
                        </figcaption>
                    </figure>
                {% endfor %}

            </figure>
        </section>

        <section class="menu-target2">
            <h2 class="color-blue">
                <i class="fas fa-globe"></i> WebSites
            </h2>
            <figure class="gallery">

                {% for website in websites %}
                    <figure class="btn-blue anima-halfY">
                        <a href="https://{{ website.link }}" title="Watch {{ website.name }} on GitHub" rel="noreferrer noopener" target="_blank">
                            <img src="img/projects/{{ website.image }}" alt="Screenshot of {{ website.name }}">
                        </a>
                        <figcaption>
                            <a href="https://{{ website.link }}" title="Watch {{ website.name }} on GitHub" rel="noreferrer noopener" target="_blank">
                                <h3>{{ website.name }}</h3>
                                <p>{{ website.description }}</p>
                                <p>{{ website.year }}</p>
                            </a>
                        </figcaption>
                    </figure>
                {% endfor %}

            </figure>
        </section>

    </main>
{% endblock %}