{% extends 'layout/layout.twig' %}

{% block title %}Projets{% endblock %}

{% block description %}Frameworks & Sites Web - Animadio & Free Code Camp Pens - Languages HTML5, Twig, Pugjs, CSS3, SCSS, Stylus, JavaScript, jQuery, CoffeeScript, Nodejs, Expressjs, PHP, MySQL{% endblock %}

{% block main %}
<input id="menu-radio1" 
    class="menu-radio1" 
    type="radio" 
    name="menu"
    checked>
<input id="menu-radio2" 
    class="menu-radio2" 
    type="radio" 
    name="menu">

<nav class="menu">
    <label for="menu-radio1" 
        title="Responsive Web Design">
        <i class="fas fa-globe"></i>
        <span>Sites Web</span>
    </label>
        <label for="menu-radio2" 
        title="Programming Tools">
        <i class="fas fa-tools"></i>
        <span>Outils</span>
    </label>
</nav>

<header class="head">
    Vous trouverez ici quelques exemples de nos Créations : des outils de programmation & des sites Web Responsives.
</header>

<main id="project" 
    class="container-90tn menu-relay">
    <section class="menu-target1">
        <h2>
            <i class="fas fa-globe"></i> 
            Sites Web
        </h2>
        <figure class="gallery">
            {% for website in websites %}
                <figure class="button-primary anima-turnY-this">
                    <a href="https://{{ website.link }}" 
                        title="Voir {{ website.name }}">
                        <img src="img/projects/{{ website.image }}" 
                            alt="Screenshot of {{ website.name }}">
                    </a>
                    <figcaption>
                        <a href="https://{{ website.link }}" 
                            title="Voir {{ website.name }}">
                            <h3>{{ website.name }}</h3>
                            <p>{{ website.description }}</p>
                            <p>{{ website.year }}</p>
                        </a>
                    </figcaption>
                </figure>
            {% endfor %}
        </figure>
    </section>

    <section class="menu-target2">
        <h2>
            <i class="fas fa-tools"></i> 
            Outils
        </h2>
        <figure class="gallery">
            {% for tools in tools %}
                <figure class="button anima-turnX-this">
                    <a href="https://{{ tools.link }}" 
                        title="Voir {{ tools.name }}">
                        <img src="img/projects/{{ tools.image }}" 
                            alt="Screenshot of {{ tools.name }}">
                    </a>
                    <figcaption>
                        <a href="https://{{ tools.link }}" 
                            title="Voir {{ tools.name }}">
                            <h3>{{ tools.name }}</h3>
                            <p>{{ tools.description }}</p>
                            <p>{{ tools.year }}</p>
                        </a>
                    </figcaption>
                </figure>
            {% endfor %}
        </figure>
    </section>
</main>
{% endblock %}
